type gx_fpd, domain, binder_in_vendor_violators;
type gx_fpd_exec, exec_type, vendor_file_type, file_type;
#typeattribute gx_fpd mlstrustedsubject;

# gx_fpd
init_daemon_domain(gx_fpd)
binder_use(gx_fpd)
binder_call(gx_fpd, binderservicedomain)
binder_call(gx_fpd, appdomain)
binder_call(gx_fpd, fingerprintd);
binder_call(gx_fpd, hal_fingerprint_custom)
binder_service(gx_fpd)

# need to find KeyStore and add self
allow gx_fpd gx_fpd_service:service_manager { add find };
allow gx_fpd fingerprintd_service:service_manager find;

#register service in service manager
allow gx_fpd default_android_service:service_manager find;

# Need to add auth tokens to KeyStore
use_keystore(gx_fpd)
allow gx_fpd keystore:keystore_key { add_auth };

# For permissions checking
binder_call(gx_fpd, system_server);
allow gx_fpd permission_service:service_manager find;

#Allow access to goodix device
allow gx_fpd gx_fpd_device:chr_file rw_file_perms;

#Allow access to tee device
allow gx_fpd tee_device:chr_file rw_file_perms;

# Allow access to ion device
allow gx_fpd ion_device:chr_file rw_file_perms;

#allow create socket
allow gx_fpd self:socket create_socket_perms_no_ioctl;
allow gx_fpd self:{ netlink_socket netlink_generic_socket } create_socket_perms_no_ioctl;

#allow read/write property
# set_prop(gx_fpd, system_prop)

allow gx_fpd fingerprintd:binder { transfer call };
allow gx_fpd hal_fingerprint_custom:binder { transfer call };

allow gx_fpd self:capability dac_override;

allow gx_fpd storage_file:dir search;
allow gx_fpd storage_file:lnk_file read;

# allow firmware_file
r_dir_file(gx_fpd, firmware_file)
allow gx_fpd firmware_file:file { getattr open read };
allow gx_fpd firmware_file:dir { search open read };

# add self
allow gx_fpd self:process execmem;
allow gx_fpd self:capability { dac_override dac_read_search };
allow gx_fpd kernel:system module_request;

# allow gx_fpd_device
allow gx_fpd gx_fpd_device:file { create_file_perms };
allow gx_fpd gx_fpd_device:chr_file { rw_file_perms setattr };

# allow fingerprintd_data_file
allow gx_fpd fingerprintd_data_file:file create_file_perms;
allow gx_fpd fingerprintd_data_file:chr_file { ioctl read write create getattr setattr lock append map unlink open };
r_dir_file(gx_fpd, fingerprintd_data_file)
allow gx_fpd fingerprintd_data_file:dir create_dir_perms;

# allow gx_fpd_data_file
allow gx_fpd gx_fpd_data_file:file create_file_perms;
allow gx_fpd gx_fpd_data_file:chr_file { ioctl read write create getattr setattr lock append map unlink open };
r_dir_file(gx_fpd, gx_fpd_data_file)
allow gx_fpd gx_fpd_data_file:dir create_dir_perms;

# allow system_file
allow gx_fpd system_file:file rx_file_perms;

# allow SD-Card
allow gx_fpd fuse:dir create_dir_perms;
allow gx_fpd fuse:file create_file_perms;
allow gx_fpd fuse:dir search;
allow gx_fpd fuse:file { getattr open append };
r_dir_file(gx_fpd, sdcard_type)
allow gx_fpd sdcard_type:file write;
allow gx_fpd app_data_file:dir search;
allow gx_fpd app_data_file:file rw_file_perms;

allow gx_fpd rootfs:lnk_file getattr;

