allow keystore hal_fingerprint_custom:dir { search };
allow keystore hal_fingerprint_custom:file r_file_perms;
allow keystore hal_fingerprint_custom:process { getattr };
